*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Courier New', Courier, monospace
    color blue;
}

.hola{
    background-color: rgb(18, 100, 46);
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}

.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.flex-index img{
    padding: 50px;
}

@media (max-width: 650px){
    .hola{
        background-color: bisque;
    }
}